{% extends 'base.html' %}

{% block content %}
<main class="container">
    <article>
        <header>
            <h2>Gallery</h2>
        </header>

    <div class="image-grid">
        {% for image in page_obj %}
            <a href="{{ image.get_absolute_url }}">
                <figure class="thumbnail-container">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                </figure>
            </a>
        {% empty %}
            <p>No images have been uploaded yet.</p>
        {% endfor %}
    </div>

    {% if page_obj.has_other_pages %}
        <nav>
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page=1">&laquo; First</a></li>
                    <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}

                <li>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
                    <li><a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}