{% extends 'base.html' %}

{% block content %}
<hgroup>
    <h1>Artist Galleries</h1>
    <h2>Discover collections from our talented artists.</h2>
</hgroup>
    <header><h2>Gallery</h2></header>

    <div class="image-grid">
        {% for image in page_obj %}
            <a href="{{ image.get_absolute_url }}">
                <figure class="thumbnail-container">
                    <img src="{{ image.image.url }}" alt="{{ image.title }}">
                </figure>
            </a>
        {% empty %}
            <p>No images have been uploaded yet.</p>
        {% endfor %}
    </div>
{% endblock %}